<!doctype html>
<title>PLN converter</title>
<head>
    <!-- Favicon -->
    <link rel="shortcut icon"
          href="http://www.lincs-dcic.org/images/dcic-logo/favicon.png?v=2"/>
</head>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>About</h1>

  <div class=metanav>

  <!--<h3>  {{result}} </h3>-->
  <!--<h3> </h3>-->
    <!--<hr/>-->
    <div>
    <!--<div >class="bs-callout bs-callout-primary">-->
        <p>Protein Line Notation (PLN) is a notation that encodes “protein forms” as a linear string of
            characters. A protein form is a “splice isoform, mutation variant and co- or post-translationally
            modified form (and combinations thereof) that can arise from translation from [a] gene,” as defined by
            the PRO ontology (Natale 2011). It is based on the open-world assumption and can encode both positive
            and negative information.</p>
    </div>

    <!-- <h4> -->
    <!--   <form id='answerform_lulu' method='post' action='next_lulu' > -->
    <!-- 	<p> -->
    <!-- 	  Answer: <br /> -->
    <!-- 	  <input type='radio' name='answer_from_layout_lulu' value={{ans1}} /> {{ans1}} <br /> -->
    <!-- 	  <input type='radio' name='answer_from_layout_lulu' value={{ans2}} /> {{ans2}} <br /> -->
    <!-- 	  <input type='radio' name='answer_from_layout_lulu' value={{ans3}} /> {{ans3}} <br /> -->
    <!-- 	</p> -->

    <!-- 	<p> -->
    <!-- 	  <input type='submit' value='NextButton_lulu' /> -->
    <!-- 	</p> -->
    <!--   </form> -->
    <!-- </h4> -->
  </div>
</div>
</html>
