<!DOCTYPE html>
<html lang="en" ng-app="plnApplication">
<meta charset="UTF-8">
<title>PLN converter</title>

<head>
    <!-- Favicon -->
    <link rel="shortcut icon"
          href="http://www.lincs-dcic.org/images/dcic-logo/favicon.png?v=2"/>
</head>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<!--<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>-->
<!--<body>-->
<!--&lt;!&ndash;<div ng-controller="MainCtrl as ctrl">&ndash;&gt;-->
<!--<div >-->
    <!--<nav class="navbar navbar-default navbar-static-top">-->
        <!--<div class="container">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
                        <!--aria-expanded="false" aria-controls="navbar">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" style="color:#337AB7;" href="#/">PLN Converter</a>-->
            <!--</div>-->

            <!--<div id="navbar" class="navbar-collapse collapse">-->
                <!--<ul class="nav navbar-nav">-->
                <!--</ul>-->
                <!--<ul class="nav navbar-nav col-sm-5">-->

                <!--</ul>-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li><a href="https://github.com/behrouzsh/PLN-Python" target="_blank">GitHub</a></li>-->
                <!--</ul>-->

            <!--</div>-->
        <!--</div>-->

    <!--</nav>-->

    <!--<div class="container">-->
        <h3> About</h3>
        <hr/>
        <div>
        <!--<div >class="bs-callout bs-callout-primary">-->
            <p>Protein Line Notation (PLN) is a notation that encodes “protein forms” as a linear string of
                characters. A protein form is a “splice isoform, mutation variant and co- or post-translationally
                modified form (and combinations thereof) that can arise from translation from [a] gene,” as defined by
                the PRO ontology (Natale 2011). It is based on the open-world assumption and can encode both positive
                and negative information.</p>
        </div>

    <!--</div>-->

    <!--<div class="container" style="padding-top: 20px;">-->
        <!--<h3> References</h3>-->
        <!--<hr/>-->

        <!--<div class="bs-callout bs-callout-default">-->
            <!--<p>Natale, D. A., Arighi, C. N., Barker, W. C., Blake, J. A., Bult, C. J., Caudy, M., … Wu, C. H. (2011).-->
                <!--The Protein Ontology: a structured representation of protein forms and complexes. Nucleic Acids-->
                <!--Research, 39(Database issue), D539–D545. doi:10.1093/nar/gkq907.</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;{{ctrl.responseRaw}}&ndash;&gt;-->
<!--&lt;!&ndash;{{ctrl.uniprotResponseRaw[0]}}&ndash;&gt;-->
<!--<footer class="footer">-->

    <!--<div class="container">-->
        <!--<p class="text-muted" style="padding-top:5px; text-align: right;">Developed within NIH funded <a-->
                <!--href="http://lincsproject.org" target="_blank">LINCS Project</a></p>-->
    <!--</div>-->

    <!--&lt;!&ndash; jQuery required by Bootstrap &ndash;&gt;-->
    <!--<script src="bower_components/jquery/dist/jquery.min.js"></script>-->

    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$('[data-toggle="tooltip"]').tooltip();-->
        <!--});-->
    <!--</script>-->

    <!--&lt;!&ndash; AngularJS &ndash;&gt;-->
    <!--<script src="bower_components/angular/angular.min.js"></script>-->

    <!--&lt;!&ndash; Bootstrap JS &ndash;&gt;-->
    <!--<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->

    <!--&lt;!&ndash; dirPagination JS &ndash;&gt;-->
    <!--<script src="bower_components/bootstrap/dist/js/dirPagination.js"></script>-->


    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>-->

    <!--&lt;!&ndash; PLN Angular &ndash;&gt;-->
    <!--&lt;!&ndash;<script src="js/app.js"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="js/controllers.js"></script>&ndash;&gt;-->

<!--</footer>-->

<!--</body>-->
</html>
