<br/>
<div class="well" >
    <div class="row vertical-align">
        <div class="col-sm-4 vcenter" >
            <img src="images/lens4.png"  align="left" width=35% >
        </div>

        <div class="col-sm-8 vcenter" >
            <h3 style="height:1.5em;"> Data View of LINCS Proteomics P100 Assay</h3>
        </div>
    </div>
</div>

<div class="container" ng-init="initNetworkApi()">
    <!--<div class="container" ng-init="initNetworkApi()">-->
    <!--<div >-->
    <!--<h3> Data View of LINCS Proteomics P100 Assay</h3>-->
    <!--<hr/>-->
    <br/>
    <div class="bs-docs-section" >
        <!--<div class="bs-docs-section" ng-controller="TypeaheadDemoCtrl">-->

        <div class="bs-example" style="padding-bottom: 24px;" append-source>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label><i class="fa fa-globe"></i> Enter perturbagen name </label>
                    <input type="text" class="form-control" ng-model="ctrl.selectedPerturbation" bs-options="perturb for perturb in perturbation" placeholder="Trametinib" bs-typeahead>
                </div>

                <div style="float:right; padding-bottom: 20px;">
                    <a ng-href="http://eh3.uc.edu/pilincs/#/technical-profiles" target="_blank" style="color: #337AB7;"
                       class="btn btn-default">Data view for P100 and GCP assays in PiLINCS</a>
                    <!--&nbsp;-->
                    <!--<a ng-href="#export/2" style="color: #337AB7;"-->
                    <!--class="btn btn-default">Export</a>-->
                </div>


                <!--<button type="button" class="btn btn-default" style="border: 2px solid #00FFFF;" ng-class="{'btn-primary': display.GCP}" ng-click="showNetwork(ctrl.selectedPerturbation)" >Show New Heatmap</button>-->


            </form>
        </div>
        <div ng-show="ctrl.showSVG && ctrl.showTable">
        Sample annotation for the selected perturbagen: <strong>{{ctrl.selectedPerturbation}}</strong>
        </div>
        <br/>




    </div>




    <!--{"LINCS_UNIQUE": "LINCSTP_0246", "pertVehicle": "DMSO",-->
    <!--"pubchemCid": "11707110", "pertTime": "48", "pertId": "BRD-K12343256",-->
    <!--"pertType": "trt_cp", "pertiname": "Trametinib", "pertDose": "0.001", "cellId": "MCF10A",-->
    <!--"lsmId": "LSM-1143"},-->

    <div class="well" ng-show="ctrl.showTable">

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>LINCS_UniqueId</th>
                <th>pertName</th>
                <th>pertId</th>
                <th>pertType</th>
                <th>pubchemCid</th>
                <th>lsmId</th>
                <th>pertDose</th>
                <th>pertTime</th>
                <th>cellId</th>
                <th>pertVehicle</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="mapping in ctrl.pertTable">
                <td>{{mapping.id}}</td>
                <td>
                <a ng-href="http://dev.ilincs.org/ilincs/signature/{{mapping.LINCS_UNIQUE}}"
                target="_blank">
                    {{mapping.LINCS_UNIQUE}}</a>
                </td>

                <td>{{mapping.pertName}}</td>
                <td>{{mapping.pertId}}</td>
                <td>{{mapping.pertType}}</td>
                <td>{{mapping.pubchemCid}}</td>
                <td>{{mapping.lsmId}}</td>
                <td>{{mapping.pertDose}}</td>
                <td>{{mapping.pertTime}}</td>
                <td>{{mapping.cellId}}</td>
                <td>{{mapping.pertVehicle}}</td>
                <!--<td>-->
                    <!--<a ng-href="http://www.ebi.ac.uk/ols/ontologies/mod/terms?obo_id={{mapping.identifier}}"-->
                       <!--target="_blank">-->
                        <!--{{mapping.identifier}}</a>-->
                <!--</td>-->

            </tr>
            </tbody>
        </table>
    </div>

    <div class="container" ng-show = "ctrl.showSVG && ctrl.showTable">
        <br/>
        <div class="bs-docs-section" >
            <!--<div class="bs-docs-section" ng-controller="TypeaheadDemoCtrl">-->

            <div class="bs-example"  append-source>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <h4>
                            The heatmap data is generated from the average values of all of the similar samples.
                        </h4>

                    </div>

                    <div style="float:right; padding-bottom: 20px;">
                        <a ng-href="http://www.ilincs.org/apps/precomputed/heatmap/?data_set=LDG-1193" target="_blank" style="color: #337AB7;"
                           class="btn btn-default">View Heatmap in iLINCS</a>
                        <!--&nbsp;-->
                        <!--<a ng-href="#export/2" style="color: #337AB7;"-->
                        <!--class="btn btn-default">Export</a>-->
                    </div>


                </form>
            </div>
        <hr/>
        <div class="container">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Peptide / Protein / gene</strong>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>-> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; experiments</strong>

        </div>



        <div id="chart"></div>

    </div>



</div>





