<div  >




    <!--<section id="fh5co-header">-->
        <!--<div class="container">-->
            <!--<nav role="navigation">-->
                <!--<ul class="pull-left left-menu">-->
                    <!--&lt;!&ndash;	<li><a href="about.html">About</a></li> &ndash;&gt;-->
                    <!--<li><a href="/explore">Explore</a></li>-->

                    <!--<li><a href="/download">Download</a></li>-->
                <!--</ul>-->
                <!--<h1 id="fh5co-logo"><a href="/lincsproteomics">LINCS PROTEOMICS<span>.</span></a></h1>-->

                <!--<ul class="pull-right right-menu">-->
                    <!--<li><a href="/tools">Tools</a></li>-->
                    <!--<li class="active"><a href="/about">About</a></li>-->

                <!--</ul>-->
            <!--</nav>-->
        <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash;This is for showing header when scroll down&ndash;&gt;-->
    <!--<div class="topMenu">-->
        <!--<section id="fh5co-header2">-->
            <!--<div class="container">-->
                <!--<nav role="navigation">-->
                    <!--<ul class="pull-left left-menu">-->
                        <!--&lt;!&ndash;	<li><a href="about.html">About</a></li> &ndash;&gt;-->
                        <!--<li><a href="/explore">Explore</a></li>-->
                        <!--<li><a href="/download">Download</a></li>-->
                    <!--</ul>-->
                    <!--<h3 id="fh5co-logo2"><a href="/lincsproteomics">LINCS PROTEOMICS<span>.</span></a></h3>-->
                    <!--<ul class="pull-right right-menu">-->
                        <!--<li><a href="/tools">Tools</a></li>-->
                        <!--<li class="active"><a href="/about">About</a></li>-->

                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</section>-->
    <!--</div>-->


    <!--&lt;!&ndash;-->
            <!--<section id="fh5co-header">-->
                <!--<div class="container">-->
                    <!--<nav role="navigation">-->
                        <!--<ul class="pull-left left-menu">-->
                            <!--<li class="active"><a href="about.html">About</a></li>-->
                            <!--<li><a href="tour.html">Tour</a></li>-->
                            <!--<li><a href="pricing.html">Pricing</a></li>-->
                        <!--</ul>-->
                        <!--<h1 id="fh5co-logo"><a hrindex3.htmlhtml">guide<span>.</span></a></h1>-->
                        <!--<ul class="pull-right right-menu">-->
                            <!--<li><a href="#">Login</a></li>-->
                            <!--<li class="fh5co-cta-btn"><a href="#">Sign up</a></li>-->
                        <!--</ul>-->
                    <!--</nav>-->
                <!--</div>-->
            <!--</section>&ndash;&gt;-->
    <!--&lt;!&ndash; #fh5co-header &ndash;&gt;-->


    <!--<section id="fh5co-hero" class="no-js-fullheight"-->
             <!--style="background-image: url(/lincsproteomics/images/University-of-Cincinnati-903.jpg);" data-next="yes">-->
        <!--<div class="fh5co-overlay"></div>-->
        <!--<div class="container">-->
            <!--<div class="fh5co-intro no-js-fullheight">-->
                <!--<div class="fh5co-intro-text">-->
                    <!--&lt;!&ndash;-->
                        <!--INFO:-->
                        <!--Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position-->
                        <!--Example:-->
                        <!--<div class="fh5co-right-position">-->
                    <!--&ndash;&gt;-->
                    <!--<div class="fh5co-center-position">-->
                        <!--&lt;!&ndash;<h2 class="animate-box" style="font-size: 45px">About Us</h2>&ndash;&gt;-->
                        <!--<h3 class="animate-box">-->
                            <!--LINCS Proteomics Data Portal enables exploration of LINCS proteomic-->
                            <!--data and related resources. The portal provides tailored “data-centric”-->
                            <!--and “assay (or annotation)-centric” views to facilitate navigation, search,-->
                            <!--and interpretation of LINCS proteomics data.-->

                        <!--</h3>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="fh5co-learn-more animate-box">-->
            <!--<a href="#" class="scroll-btn">-->
                <!--<span class="text">Explore more about LINCS</span>-->
                <!--<span class="arrow"><i class="icon-chevron-down"></i></span>-->
            <!--</a>-->
        <!--</div>-->
    <!--</section>-->
</div>