<div id="fh5co-page" ng-init="initNetwork()">

    <section id="fh5co-header">
        <div class="container">
            <nav role="navigation">
                <ul class="pull-left left-menu">
                    <!--	<li><a href="about.html">About</a></li> -->
                    <li><a href="/lincsproteomics/explore">Explore</a></li>

                    <li><a href="/lincsproteomics/download">Download</a></li>
                </ul>
                <h1 id="fh5co-logo"><a href="/lincsproteomics/lincsproteomics">LINCS PROTEOMICS<span>.</span></a></h1>

                <ul class="pull-right right-menu">
                    <li class="active"><a href="/lincsproteomics/tools">Tools</a></li>
                    <li><a href="/lincsproteomics/about">About</a></li>

                </ul>
            </nav>
        </div>
    </section>
    <!--This is for showing header when scroll down-->
    <div class="topMenu">
        <section id="fh5co-header2">
            <div class="container">
                <nav role="navigation">
                    <ul class="pull-left left-menu">
                        <!--	<li><a href="about.html">About</a></li> -->
                        <li><a href="/lincsproteomics/explore">Explore</a></li>
                        <li><a href="/lincsproteomics/download">Download</a></li>
                    </ul>
                    <h3 id="fh5co-logo2"><a href="/lincsproteomics/lincsproteomics">LINCS PROTEOMICS<span>.</span></a></h3>
                    <ul class="pull-right right-menu">
                        <li class="active"><a href="/lincsproteomics/tools">Tools</a></li>
                        <li><a href="/lincsproteomics/about">About</a></li>

                    </ul>
                </nav>
            </div>
        </section>
    </div>


    <!-- #fh5co-header -->

    <section id="fh5co-hero" class="no-js-fullheight" style="background-image: url(/lincsproteomics/images/tools.jpg);"
             data-next="yes">
        <div class="fh5co-overlay"></div>
        <div class="container">
            <div class="fh5co-intro no-js-fullheight">
                <div class="fh5co-intro-text">
                    <!--
                        INFO:
                        Change the class to 'fh5co-right-position' or 'fh5co-center-position' to change the layout position
                        Example:
                        <div class="fh5co-right-position">
                    -->
                    <div class="fh5co-center-position">
                        <h2 class="animate-box" style="font-size: 45px">LINCS & Related Proteomics Tools</h2>
                        <!--<h3 class="animate-box">Far far away, behind the word mountains, far from the countries-->
                        <!--Vokalia and Consonantia, there.</h3>-->

                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-learn-more animate-box">
            <a href="#" class="scroll-btn">
                <span class="text">See some of tools developed within the LINCS consortium and partners.</span>
                <span class="arrow"><i class="icon-chevron-down"></i></span>
            </a>
        </div>
    </section>
    <!-- END #fh5co-hero -->

    <section id="fh5co-pricing" style="padding: 60px 5px 5px 5px">
        <div class="container">
            <div class="row ">
                <div class="col-md-8 col-md-offset-2 text-center">

                    <h2 class="fh5co-sub-lead animate-box">Tools to help you be more productive with
                        LINCS and Non-LINCS proteomics datasets. For complete list of LINCS Workflows and Tools <a
                                href="http://www.lincsproject.org/LINCS/tools" target="_blank">
                            click here</a>
                    </h2>

                </div>
            </div>
            <div class="row">


                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left; padding-right: 1px">
                                <a ng-href="https://pir.georgetown.edu/" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/PIR.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="https://pir.georgetown.edu/" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    PIR</a>
                                (The Protein Information Resource) is an integrated public bioinformatics resource to
                                support genomic,
                                proteomic and systems biology research and scientific studies.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left; padding-right: 1px">
                                <a ng-href="http://www.pinet-server.org/pinet/" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/pinet-logo.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="http://www.pinet-server.org/pinet/" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    piNet</a>
                                can be used to annotate, map and analyze a set of peptide moieties
                                (including post-translationally modified peptides) identified by either
                                targeted (SRM type) or SWATH (discovery) proteomic assays...
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-md-4 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="http://eh3.uc.edu/pinet/" target="_blank">-->
                <!--<img border="0"  src="../images/pinet-logo.png" width="100" height="100">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="column2-right vcenter">-->
                <!--<a href="http://eh3.uc.edu/pinet/" target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span> &ndash;&gt;-->
                <!--piNet</a> can be used to annotate, map and analyze a set of peptide moieties-->
                <!--(including post-translationally modified peptides) identified by either-->
                <!--targeted (SRM type) or SWATH (discovery) proteomic assays...-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->


                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left">
                                <a ng-href="https://panoramaweb.org/labkey/wiki/LINCS/Overview%20Information/page.view?name=LINCS%20PCCSE%20Overview"
                                   target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/labkey-logo2.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="https://panoramaweb.org/labkey/wiki/LINCS/Overview%20Information/page.view?name=LINCS%20PCCSE%20Overview"
                                   target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    Panorama</a>
                                Repository Software for
                                Targeted Proteomics Assays from Skyline.
                            </div>
                        </div>
                    </div>
                </div>


                <!--<div class="col-md-4 col-sm-6 animate-box">-->

                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="https://panoramaweb.org/labkey/wiki/LINCS/Overview%20Information/page.view?name=LINCS%20PCCSE%20Overview"-->
                <!--target="_blank">-->
                <!--<img border="0" src="../images/labkey-logo2.png" width="200" height="120">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="column2-right vcenter">-->
                <!--<a href="https://panoramaweb.org/labkey/wiki/LINCS/Overview%20Information/page.view?name=LINCS%20PCCSE%20Overview"-->
                <!--target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span>&ndash;&gt;-->
                <!--Panorama</a> Repository Software for-->
                <!--Targeted Proteomics Assays from Skyline.-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->


                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left">
                                <a ng-href="http://www.ilincs.org/ilincs/" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/ilincs.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="http://www.ilincs.org/ilincs/" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    iLINCS</a>
                                (Integrative LINCS) is an integrative web platform for analysis of LINCS data and
                                signatures. The portal provides biologists-friendly user interfaces for analyzing
                                transcriptomics and proteomics LINCS datasets...
                            </div>
                        </div>
                    </div>
                </div>


                <!--<div class="col-md-4 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="http://www.ilincs.org/ilincs/" target="_blank">-->
                <!--<img border="0"  src="../images/ilincs.png" width="120" height="100">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="column2-right vcenter">-->

                <!--<a href="http://www.ilincs.org/ilincs/" target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span>&ndash;&gt;-->
                <!--iLINCS</a>  (Integrative LINCS) is an integrative web platform for analysis of LINCS data and-->
                <!--signatures. The portal provides biologists-friendly user interfaces for analyzing-->
                <!--transcriptomics and proteomics LINCS datasets...-->

                <!--</div>-->
                <!--</div>-->


                <!--</div>-->

                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left">
                                <a ng-href="http://amp.pharm.mssm.edu/Enrichr/" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/enrichr.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="http://amp.pharm.mssm.edu/Enrichr/" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    Enrichr</a>
                                is sn intuitive web-based gene list
                                enrichment analysis tool for inferring knowledge about an input gene set by comparing it
                                to annotated gene sets
                                representing prior biological knowledge with enrichment analysis.
                            </div>
                        </div>
                    </div>
                </div>


                <!--<div class="col-md-4 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="http://amp.pharm.mssm.edu/Enrichr/" target="_blank">-->
                <!--<img border="0"  src="../images/2688.png" width="200" height="80">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="column2-right vcenter">-->
                <!--<a href="http://amp.pharm.mssm.edu/Enrichr/" target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span> &ndash;&gt;-->
                <!--Enrichr</a> is sn intuitive web-based gene list-->
                <!--enrichment analysis tool for inferring knowledge about an input gene set by comparing it to annotated gene sets-->
                <!--representing prior biological knowledge with enrichment analysis.-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left">
                                <a ng-href="http://eh3.uc.edu/pilincs/#/" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/pilincs.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="http://eh3.uc.edu/pilincs/#/" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    piLINCS</a> has been developed as part of the BD2K-LINCS Data Coordination
                                and Integration Center to provide interactive and API access to proteomics
                                data generated by the PCCSE center.
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-4 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="http://eh3.uc.edu/pilincs/#/" target="_blank">-->
                <!--<img border="0"  src="../images/pilincs.jpg" width="110" height="100">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="column2-right vcenter">-->
                <!--<a href="http://eh3.uc.edu/pilincs/#/" target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span>&ndash;&gt;-->
                <!--piLINCS</a> has been developed as part of the BD2K-LINCS Data Coordination-->
                <!--and Integration Center to provide interactive and API access to proteomics-->
                <!--data generated by the PCCSE center.-->

                <!--</div>-->
                <!--</div>-->


                <!--</div>-->
                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left">
                                <a ng-href="http://www.phosphosite.org/homeAction.action" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/phosphositeplus.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="http://www.phosphosite.org/homeAction.action" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    PhosphoSitePlus</a> Freely accessible on-line systems
                                biology resource devoted to commonly studied protein post-translational modifications...

                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-md-4 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="http://www.phosphosite.org/homeAction.action" target="_blank">-->
                <!--<img border="0"  src="../images/phosphositeplus.png" width="150" height="50">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="column2-right vcenter">-->
                <!--<a href="http://www.phosphosite.org/homeAction.action" target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span> &ndash;&gt;-->
                <!--PhosphoSitePlus</a> Freely accessible on-line systems-->
                <!--biology resource devoted to commonly studied protein post-translational modifications...-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left">
                                <a ng-href="http://lincs.hms.harvard.edu/db/" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/hms-lincs.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="http://lincs.hms.harvard.edu/db/" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    HMS LINCS Database</a> The Database contains all publicly available
                                HMS LINCS datasets and information for each dataset about experimental reagents and
                                experimental and data analysis protocols....

                            </div>
                        </div>
                    </div>
                </div>


                <!--<div class="col-md-4 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="http://lincs.hms.harvard.edu/db/" target="_blank">-->
                <!--<img border="0"  src="../images/hms-lincs.png" width="150" height="50">-->

                <!--</a>-->
                <!--</div>-->
                <!--<br/>-->
                <!--<div class="column2-right vcenter">-->
                <!--<a href="http://lincs.hms.harvard.edu/db/" target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span> &ndash;&gt;-->
                <!--HMS LINCS Database</a> The Database contains all publicly available-->
                <!--HMS LINCS datasets and information for each dataset about experimental reagents and experimental and data analysis protocols....-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left">
                                <a ng-href="http://lincsportal.ccs.miami.edu/dcic-portal/" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/ldp.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="http://lincsportal.ccs.miami.edu/dcic-portal/" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    LINCS DATA PORTAL</a> Provides unified interface for searching all LINCS dataset
                                packages and entities.

                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-md-4 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="http://lincsportal.ccs.miami.edu/dcic-portal/" target="_blank">-->
                <!--<img border="0"  src="../images/ldp_logo.png" width="120" height="120">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="column2-right vcenter">-->
                <!--<a href="http://lincsportal.ccs.miami.edu/dcic-portal/" target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span> &ndash;&gt;-->
                <!--LINCS DATA PORTAL</a> Provides unified interface for searching all LINCS dataset packages and entities.-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left">
                                <a ng-href="https://pir.georgetown.edu/pro/pro.shtml" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/pro.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="https://pir.georgetown.edu/pro/pro.shtml" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    PRO</a> (PRotein Ontology) provides an ontological representation of
                                protein-related entities by explicitly defining them and
                                showing the relationships between them.
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-md-4 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="https://pir.georgetown.edu/pro/pro.shtml" target="_blank">-->
                <!--<img border="0"  src="../images/pro.png" width="200" height="80">-->

                <!--</a>-->
                <!--</div>-->
                <!--<br/>-->
                <!--<div class="column2-right vcenter">-->
                <!--<a href="https://pir.georgetown.edu/pro/pro.shtml" target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span> &ndash;&gt;-->
                <!--PRO</a> (PRotein Ontology) provides an ontological representation of-->
                <!--protein-related entities by explicitly defining them and-->
                <!--showing the relationships between them.-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left">
                                <a ng-href="https://research.bioinformatics.udel.edu/iptmnet/" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/iptmnet.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="https://research.bioinformatics.udel.edu/iptmnet/" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    iPTMnet</a> is a bioinformatics resource for integrated understanding of protein
                                post-translational modifications (PTMs) in systems biology context.
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-md-4 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="https://research.bioinformatics.udel.edu/iptmnet/" target="_blank">-->
                <!--<img border="0"  src="../images/iptmnet.png" width="200" height="80">-->

                <!--</a>-->
                <!--</div>-->
                <!--<br/>-->
                <!--<div class="column2-right vcenter">-->
                <!--<a href="https://research.bioinformatics.udel.edu/iptmnet/" target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span> &ndash;&gt;-->
                <!--iPTMnet</a>  is a bioinformatics resource for integrated understanding of protein-->
                <!--post-translational modifications (PTMs) in systems biology context.-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-md-4 col-sm-6 animate-box">
                    <div class="row ">
                        <div class="price-box popular ">
                            <div style="width: 30%; float:left">
                                <a ng-href="https://research.bioinformatics.udel.edu/iprolink/" target="_blank">

                                    <!--<img style="border:1px solid grey;" onmouseover="this.style.backgroundColor=black;" onmouseout="this.style.backgroundColor='';this.style.opacity=1;"  src="../images/PIR.png" width="120" height="120">-->
                                    <!---->
                                    <img src="/lincsproteomics/images/iprolink.png" width="90" height="90">

                                </a>

                            </div>

                            <div style="width: 70%; float:right">
                                <a href="https://research.bioinformatics.udel.edu/iprolink/" target="_blank">
                                    <!--<span style="color:blue">&#10004;</span> -->
                                    iProLINK </a>
                                (integrated Protein Literature, INformation and Knowledge) is a resource with access to
                                text mining
                                tools and annotated corpora developed in house.
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-md-4 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="column2-left vcenter">-->
                <!--<a ng-href="https://research.bioinformatics.udel.edu/iprolink/" target="_blank">-->
                <!--<img border="0"  src="../images/iprolink.png" width="200" height="80">-->

                <!--</a>-->
                <!--</div>-->
                <!--<br/>-->
                <!--<div class="column2-right vcenter">-->
                <!--<a href="https://research.bioinformatics.udel.edu/iprolink/" target="_blank" >-->
                <!--&lt;!&ndash;<span style="color:blue">&#10004;</span> &ndash;&gt;-->
                <!--iProLINK </a>-->
                <!--(integrated Protein Literature, INformation and Knowledge) is a resource with access to text mining-->
                <!--tools and annotated corpora developed in house.-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-md-3 col-sm-6 animate-box">-->
                <!--<div class="price-box">-->
                <!--<h2 class="pricing-plan">Regular</h2>-->
                <!--<div class="price"><sup class="currency">$</sup>19-->
                <!--<small>/mo</small>-->
                <!--</div>-->
                <!--<p>Basic customer support for small business</p>-->
                <!--<hr>-->
                <!--<ul class="pricing-info">-->
                <!--<li>15 projects</li>-->
                <!--<li>40 Pages</li>-->
                <!--<li>40 Emails</li>-->
                <!--<li>200 Images</li>-->
                <!--</ul>-->
                <!--<a href="#" class="btn btn-default btn-sm">Get started</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clearfix visible-sm-block"></div>-->
                <!--<div class="col-md-3 col-sm-6 animate-box">-->
                <!--<div class="price-box popular">-->
                <!--<div class="popular-text">Best value</div>-->
                <!--<h2 class="pricing-plan">Plus</h2>-->
                <!--<div class="price"><sup class="currency">$</sup>79-->
                <!--<small>/mo</small>-->
                <!--</div>-->
                <!--<p>Basic customer support for small business</p>-->
                <!--<hr>-->
                <!--<ul class="pricing-info">-->
                <!--<li>Unlimitted projects</li>-->
                <!--<li>100 Pages</li>-->
                <!--<li>100 Emails</li>-->
                <!--<li>700 Images</li>-->
                <!--</ul>-->
                <!--<a href="#" class="btn btn-primary btn-sm">Get started</a>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3 col-sm-6 animate-box">-->
                <!--<div class="price-box">-->
                <!--<h2 class="pricing-plan">Enterprise</h2>-->
                <!--<div class="price"><sup class="currency">$</sup>125-->
                <!--<small>/mo</small>-->
                <!--</div>-->
                <!--<p>Basic customer support for small business</p>-->
                <!--<hr>-->
                <!--<ul class="pricing-info">-->
                <!--<li>Unlimitted projects</li>-->
                <!--<li>Unlimitted Pages</li>-->
                <!--<li>Unlimitted Emails</li>-->
                <!--<li>Unlimitted Images</li>-->
                <!--</ul>-->
                <!--<a href="#" class="btn btn-default btn-sm">Get started</a>-->
                <!--</div>-->
                <!--</div>-->

            </div>
        </div>
    </section>

    <!-- END #fh5co-pricing -->

    <!--<div id="fh5co-faqs">-->
    <!--<div class="container">-->
    <!--<div class="row row-bottom-padded-lg">-->
    <!--<div class="col-md-6 col-md-offset-3 text-center">-->
    <!--<div class="fh5co-label animate-box">FAQ</div>-->
    <!--<h2 class="fh5co-lead animate-box">Frequently Ask Questions</h2>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-md-8 col-md-offset-2">-->
    <!--<ul class="fh5co-faq-list">-->
    <!--<li class="animate-box">-->
    <!--<h2>What is Guide?</h2>-->
    <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and-->
    <!--Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right-->
    <!--at the coast of the Semantics, a large language ocean.</p>-->
    <!--</li>-->
    <!--<li class="animate-box">-->
    <!--<h2>What language are available?</h2>-->
    <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and-->
    <!--Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right-->
    <!--at the coast of the Semantics, a large language ocean.</p>-->
    <!--</li>-->
    <!--<li class="animate-box">-->
    <!--<h2>I have technical problem, who do I email?</h2>-->
    <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and-->
    <!--Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right-->
    <!--at the coast of the Semantics, a large language ocean.</p>-->
    <!--</li>-->
    <!--<li class="animate-box">-->
    <!--<h2>Can I have a username that is already taken?</h2>-->
    <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and-->
    <!--Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right-->
    <!--at the coast of the Semantics, a large language ocean.</p>-->
    <!--</li>-->
    <!--<li class="animate-box">-->
    <!--<h2>How do I use Guide features?</h2>-->
    <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and-->
    <!--Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right-->
    <!--at the coast of the Semantics, a large language ocean.</p>-->
    <!--</li>-->
    <!--<li class="animate-box">-->
    <!--<h2>Is Guide free??</h2>-->
    <!--<p>Far far away, behind the word mountains, far from the countries Vokalia and-->
    <!--Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right-->
    <!--at the coast of the Semantics, a large language ocean.</p>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<section id="fh5co-testimonials" class="boredr-top">-->
    <!--<div class="container">-->
    <!--<div class="row row-bottom-padded-sm">-->
    <!--<div class="col-md-6 col-md-offset-3 text-center">-->
    <!--<div class="fh5co-label animate-box">Testimonials</div>-->
    <!--<h2 class="fh5co-lead animate-box">Join the 1 Million Users using Our Products </h2>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-md-8 col-md-offset-2 text-center animate-box">-->
    <!--<div class="flexslider">-->
    <!--<ul class="slides">-->
    <!--<li>-->
    <!--<blockquote>-->
    <!--<p>&ldquo;Creativity is just connecting things. When you ask creative people how-->
    <!--they did something, they feel a little guilty because they didn’t really do-->
    <!--it, they just saw something. It seemed obvious to them after a-->
    <!--while.&rdquo;</p>-->
    <!--<p><cite>&mdash; Steve Jobs</cite></p>-->
    <!--</blockquote>-->
    <!--</li>-->
    <!--<li>-->
    <!--<blockquote>-->
    <!--<p>&ldquo;I think design would be better if designers were much more skeptical-->
    <!--about its applications. If you believe in the potency of your craft, where-->
    <!--you choose to dole it out is not something to take lightly.&rdquo;</p>-->
    <!--<p><cite>&mdash; Frank Chimero</cite></p>-->
    <!--</blockquote>-->
    <!--</li>-->
    <!--<li>-->
    <!--<blockquote>-->
    <!--<p>&ldquo;Design must be functional and functionality must be translated into-->
    <!--visual aesthetics, without any reliance on gimmicks that have to be-->
    <!--explained.&rdquo;</p>-->
    <!--<p><cite>&mdash; Ferdinand A. Porsche</cite></p>-->
    <!--</blockquote>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="flexslider-controls">-->
    <!--<ol class="flex-control-nav">-->
    <!--<li class="animate-box"><img src="../images/person4.jpg"-->
    <!--alt="Free HTML5 Bootstrap Template by FREEHTML5.co"></li>-->
    <!--<li class="animate-box"><img src="../images/person2.jpg"-->
    <!--alt="Free HTML5 Bootstrap Template by FREEHTML5.co"></li>-->
    <!--<li class="animate-box"><img src="../images/person3.jpg"-->
    <!--alt="Free HTML5 Bootstrap Template by FREEHTML5.co"></li>-->
    <!--</ol>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
    <!--&lt;!&ndash; END #fh5co-testimonials &ndash;&gt;-->

    <!--<section id="fh5co-subscribe">-->
    <!--<div class="container">-->

    <!--<h3 class="animate-box"><label for="email">Subscribe to our newsletter</label></h3>-->
    <!--<form action="#" method="post" class="animate-box">-->
    <!--<i class="fh5co-icon icon-paper-plane"></i>-->
    <!--<input type="email" class="form-control" placeholder="Enter your email" id="email" name="email">-->
    <!--<input type="submit" value="Send" class="btn btn-primary">-->
    <!--</form>-->

    <!--</div>-->
    <!--</section>-->
    <!-- END #fh5co-subscribe -->


    <!-- END #fh5co-page -->

    <!-- For demo purposes Only ( You may delete this anytime :-)
    <div id="colour-variations">
        <a class="option-toggle"><i class="icon-gear"></i></a>
        <h3>Preset Colors</h3>
        <ul>
            <li><a href="javascript: void(0);" data-theme="style"></a></li>
            <li><a href="javascript: void(0);" data-theme="red"></a></li>
            <li><a href="javascript: void(0);" data-theme="turquoise"></a></li>
            <li><a href="javascript: void(0);" data-theme="blue"></a></li>
            <li><a href="javascript: void(0);" data-theme="orange"></a></li>
            <li><a href="javascript: void(0);" data-theme="yellow"></a></li>
            <li><a href="javascript: void(0);" data-theme="pink"></a></li>
            <li><a href="javascript: void(0);" data-theme="purple"></a></li>
        </ul>
        <a href="#" data-layout="boxed">Boxed</a>
        <a href="#" data-layout="wide">Wide</a>
    </div>-->
    <!-- End demo purposes only -->

</div>


