/* Tooltip */
.tooltip > .tooltip-inner{
    text-align: left;
    background-color: steelblue;
    min-width: 300px;
}
/* Tooltip did not render in a table */
td .tooltip {
    position:absolute
}

/* Spin ----------------------------- */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Sticky footer */
/* Sticky footer styles -------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    /*background-color: #f5f5f5;*/
}

/* Callouts */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.list-responsive-vertical {
    max-width:580px;
    overflow-x: auto;
    overflow-y: auto;
    max-height:62px;
    word-wrap:break-word;
}

.list-responsive-vertical2 {
    max-width:180px;
    overflow-x: auto;
    overflow-y: auto;
    max-height:100px;
    word-wrap:break-word;
}

.list-responsive-vertical3 {
    max-width:600px;
    overflow-x: auto;
    overflow-y: auto;
    max-height:100px;
    word-wrap:break-word;
}

.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}

.well {
    text-align: center;
    width: auto;
    color: black;
}




/*For radial graph*/

.node circle {
    fill: #999;
}

.node text {
    font: 10px sans-serif;
}

.node--internal circle {
    fill: #555;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}

/*For other d3 stuff*/

#chart rect {
    fill: white;
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1px;
}

marker#licensing {
    fill: lightgreen;
}

path.link.licensing {
    stroke: lightgreen;
}

path.link.resolved {
    stroke-dasharray: 0,2 1;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 3px;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
}

text.shadow {
    stroke: #fff;
    stroke-width: 4px;
}

.pool {
    fill: "white";
    stroke: "yellow";
}

marker#arrow {
    stroke: #000000;
    fill: #22222;
}

.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;}
/*.legend {                                                   !* NEW *!*/
    /*font-size: 12px;                                          !* NEW *!*/
/*}                                                           !* NEW *!*/
rect {                                                      /* NEW */
    stroke-width: 2;                                          /* NEW */
}


/*html, body {*/
    /*margin:0;*/
    /*padding:0;*/
    /*width:100%;*/
    /*height:100%;*/
/*}*/

.container2 {
    width:100%;
}

.columnright {
    position: absolute;
    right: 0px;
    width: 330px;
    width:50%;
    /*float:left;*/
    height:auto;
    align-content: center;
    /*margin-top: 0.5cm;*/
}
.columnleft {
    width:50%;
    /*float:right;*/
    height:auto;

    position: absolute;
    left: 0px;
    width: 330px;
    /*align-content: center;*/
    margin-top: 0.5cm;
}
.column4 {
    width:20%;
    float:left;
    height:auto;
    align-content: center;
}
.column1 {
    width:25%;
    /*left: 0px;*/
    /*position: absolute;*/
    float:left;
    align-content: center;
    text-align: center;
    height:auto;
    color: black;

}
.column2-left {
    width:40%;
    /*right: 0px;*/
    /*position: absolute;*/
    float:left;
    align-content: center;
    text-align: center;
    height:auto;
    color: black;

}
.column2-right {
    width:60%;
    /*right: 0px;*/
    /*position: absolute;*/
    float:right;
    align-content: center;
    text-align: center;
    height:auto;
    color: black;

}

.Row3
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    vertical-align: middle;
}
.Column3
{
    display: table-cell;
    border-style: solid;
    border-color: #d6f1f9;
    vertical-align: middle;
    /*background-color: #d6f1f9; !*Optional*!*/
}
/*.imageContainer {*/
    /*width:200px;*/
    /*height:200px;*/
    /*background-image: url("images/lens2.jpg");*/
    /*align:center;*/
    /*width:100%;*/
/*}*/

/*.relative{position:relative; width:100%;}*/
/*.absolute-text{position:absolute; bottom:0; font-size:24px; font-family:"vedana"; background:rgba(251,251,251,0.5);*/
    /*padding:10px 20px; width:100%; text-align:center;}*/
/*.absolute-text a{font-size:16px; color:blue;}*/


/*.container {*/
    /*position: relative;*/
/*}*/

/*.image {*/
    /*position: relative;*/
    /*!*width: 100%; !* for IE 6 *!*!*/
/*}*/

/*.h5 {*/
    /*text-align: center;*/
    /*width: auto;*/
    /*color: blue;*/
/*}*/
/*.p2 {*/
    /*text-align: center;*/
    /*width: auto;*/
    /*color: blue;*/
/*}*/
/*h2 {*/
    /*position: absolute;*/
    /*top: 10%;*/
    /*!*left: 0;*!*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*width: auto;*/
    /*color: blue;*/
/*}*/

/*.img-holder {position: relative;}*/
/*.img-holder .link {*/
    /*position: absolute;*/
    /*bottom: 10px; !*your button position*!*/
    /*right: 10px; !*your button position*!*/
/*}*/
/*.classic_button_next{ position: absolute; right: 5px; top: 5px; }*/
/*.classic_button_prev { position: absolute; right: 88px; top: 5px; }*/

/*.right {*/
    /*position: absolute;*/
    /*right: 0px;*/
    /*width: 330px;*/
/*}*/

/*.left {*/
    /*position: absolute;*/
    /*left: 0px;*/
    /*width: 330px;*/
/*}*/

/*.wraptocenter {*/
    /*display: table-cell;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*background-color: #999;*/
/*}*/
/*.wraptocenter * {*/
    /*vertical-align: middle;*/
/*}*/

/*img.classname{*/
    /*position:absolute;*/
    /*top:50%;*/
    /*left:50%;*/
    /*margin-top:-25px;*/
    /*margin-left:-25px;*/
/*}*/
/*.column img {*/
    /*width:100%;*/
    /*height:auto;*/
/*}*/

/*marker#licensing {*/
    /*fill: lightgreen;*/
/*}*/

/*.nav-tabs > li, .nav-pills > li {*/
    /*float:none;*/
    /*display:inline-block;*/
    /**display:inline; !* ie7 fix *!*/
    /*zoom:1; !* hasLayout ie7 trigger *!*/
/*}*/

/*.nav-tabs, .nav-pills {*/
    /*text-align:center;*/
/*}*/
.nav-tabs > li
{
    float: none;
    text-align: center;
}
.nav > li
{
    display: inline-block;
}
/*For d3 heatmap*/
rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}
/*For d3 heatmap*/

